<div class="container mt-6 bg-white profile-container border fade-in">
  <div class="row justify-content-end">
    <i class="fal fa-check-circle fa-2x pt-2 pr-2 text-success"></i>
  </div>
  <div class="row p-3">
    <div class="col-md-3">
      <div class="profile-image">
        <img src='{{backendUrlBase+"/"+userDetail.profileImageURL}}' alt="">
      </div>
    </div>
    <div class="col-md-9">
      <div class="row person-head">
        <h3 class="display-4 font-person-name">{{userDetail.firstName}} {{userDetail.lastName}}</h3>
        <div class="d-flex">
          <p class="font-user-name">@{{userDetail.userName}}</p>
        </div>

      </div>
      <div class="row">
        <div class="profile-desc">
          <div class="profile-desc-head">
            - Açıklama -
          </div>
          <div class="profile-desc-body lead">
            {{userDetail.profileDetail.profileDescription}}
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-md-6">
          <div class="row justify-content-center profile-stat">
            <div class="col-4">
              <div class="info-element">
                <div class="info-element-value text-center">
                  {{userDetail.profileDetail.profileScore}}
                </div>
                <div class="info-element-text text-center text-muted">
                  Puan
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="info-element">
                <div class="info-element-value text-center">
                  {{userDetail.profileDetail.helpCount}}
                </div>
                <div class="info-element-text text-center text-muted">
                  Yardım
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="info-element">
                <div class="info-element-value text-center">
                  {{userDetail.profileDetail.friendCount}}
                </div>
                <div class="info-element-text text-center text-muted">
                  Arkadaş
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row pt-3 user-actions">
            <div *ngIf="sessionOwner === userDetail.userName; then thenBlock else elseBlock"></div>
            <ng-template #thenBlock>
              <div class="action-element mx-3">
                <a routerLink='/settings' class="d-block text-decoration-none radius-0 pb-0 btn btn-outline-dark">
                  <i class="fal fa-user-cog fa-lg d-flex justify-content-center text-center"></i>
                  <p class="text-center m-0">Ayarlar</p>
                </a>
              </div>
            </ng-template>
            <ng-template #elseBlock>
              <div *ngIf="isFriend; then isFriendBlock else isNotFriend"></div>

              <ng-template #isFriendBlock>
                <div class="action-element mx-3">
                  <button (click)="revokeFriend()" class="d-block text-decoration-none radius-0 pb-0 btn btn-outline-danger">
                    <i class="fal fa-user-slash fa-lg d-flex justify-content-center text-center"></i>
                    <p class="text-center m-0">Kişiyi Çıkart</p>
                  </button>
                </div>
              </ng-template>

              <ng-template #isNotFriend>
                <div *ngIf="isSendFriendship; then friendshipSended else friendshipNotSended"></div>

                <ng-template #friendshipNotSended>
                  <div *ngIf="isExistWaitingFriendshipRequest; then existWaitingFriendshipRequest else addFriendBlock"></div>

                  <ng-template #addFriendBlock>
                    <div class="action-element mx-3">
                      <button (click)="sendFriendshipRequest()" class="d-block text-decoration-none radius-0 pb-0 btn btn-outline-info">
                        <i class="fal fa-user-plus fa-lg d-flex justify-content-center text-center"></i>
                        <p class="text-center m-0">Arkadaş Ekle</p>
                      </button>
                    </div>
                  </ng-template>

                  <ng-template #existWaitingFriendshipRequest>
                    <div class="action-element">
                      <div class="btn-group" role="group" aria-label="Basic example">
                        <button (click)="acceptRequest()" class="d-inline text-decoration-none radius-0 pb-0 btn btn-outline-success">
                          <i class="far fa-check fa-lg d-flex justify-content-center text-center"></i>
                          <p class="text-center m-0">Kabul et</p>
                        </button>

                        <button (click)="rejectRequest()" class="d-inline text-decoration-none radius-0 pb-0 btn btn-outline-danger">
                          <i class="far fa-times fa-lg d-flex justify-content-center text-center"></i>
                          <p class="text-center m-0">Reddet</p>
                        </button>
                      </div>
                    </div>
                  </ng-template>

                </ng-template>

                <ng-template #friendshipSended>
                  <div class="action-element mx-3">
                    <a class="d-block text-decoration-none radius-0 pb-0 btn btn-outline-info">
                      <i class="fal fa-user-clock fa-lg d-flex justify-content-center text-center"></i>
                      <p class="text-center m-0">Bekleniyor</p>
                    </a>
                  </div>
                </ng-template>




              </ng-template>

              <div class="action-element mx-3">
                <a href="" class="d-block text-decoration-none radius-0 pb-0 btn btn-outline-success">
                  <i class="fal fa-envelope fa-lg d-flex justify-content-center text-center"></i>
                  <p class="text-center m-0">Mesaj Gönder</p>
                </a>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

