<div class="row flex-column ">

  <div class="message-actions-area chat-top">
    <div class="message-actions pt-1">
      <div class="new-message">
        <button (click)="getFriends()" class="btn" title="Yeni Mesaj" data-toggle="modal" data-target="#modalNewMessage"><i class="fal fa-feather-alt fa-2x"></i></button>
      </div>
      <div class="area-title pt-2 lead">
        Mesajlaşma
      </div>
      <div class="log-out pr-4">
        <button (click)="logOut()" class="btn" title="Çıkış"><i class="fal fa-sign-out-alt fa-2x"></i></button>
      </div>
    </div>
  </div>

  <div class="overflow-y-scroll full-width pt-3">
    <!-- users -->
    <div *ngIf="chats | async as users; else loading">
      <a *ngFor="let user of users" routerLink='/chat/{{user.chatId}}' class="chat-link">
        <div class="chat py-1 px-2">
          <div class="chat-user">
            <div class="chat-user-img">
              <img src='{{backendUrlBase+"/"+user.secondUserProfileImageURL}}' alt="">
            </div>
            <div class="chat-info pl-2 pt-1">
              <div class="chat-info-user">
                <span class="chat-info-username text-info">@{{user.secondUserName}}</span>
              </div>
              <div class="chat-info-message text-muted text-info">
                {{user.secondUserName}} ile sohbet için tıklayın...
              </div>
            </div>
          </div>
        </div>
      </a>
      <div *ngIf="users.length === 0" class="text-center pt-4">

        <i class="text-center fas fa-crow fa-2x"></i>
        <p class="lead text-center">Henüz bir başlatılmış sohbet yok.</p>

      </div>
    </div>

    <ng-template #loading>
      <div class="row justify-content-center">
        <div class="lds-dual-ring"></div>
        <p class="lead pt-3">Yükleniyor...</p>
      </div>
    </ng-template>


  </div>
</div>



<div class="modal fade" id="modalNewMessage" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content radius-0">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Yeni Mesaj</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body overflow-y-scroll" style="max-height: 300px;">
        <h5 class="lead">Arkadaşların</h5>
        <div *ngIf="friends | async as friendsList; else friendsLoading" class="new-chat-users">

          <div *ngFor="let friend of friendsList" class="friend-for-chat p-2">

            <a (click)="createChat(friend.userName)" data-dismiss="modal" href="javascript:void(0)" class="new-chat-link">
              <div class="chat-user">
                <div class="chat-user-img">
                  <img src='{{backendUrlBase+"/"+friend.profileImageURL}}' alt="">
                </div>
                <div class="chat-info pl-2 pt-2">
                  <div class="chat-info-user">
                    <span class="new-chat-username text-info">@{{friend.userName}}</span>
                  </div>
                </div>
              </div>
            </a>

          </div>

        </div>
        <ng-template #friendsLoading>
          <div class="row justify-content-center">
            <div class="lds-dual-ring"></div>
            <p class="lead pt-3">Yükleniyor...</p>
          </div>
        </ng-template>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary radius-0" data-dismiss="modal">İptal</button>
      </div>
    </div>
  </div>
</div>





