<div class="post-list py-4 fade-in">
  <div *ngIf="!loader && anyTodo">
    <div *ngFor="let todo of todos" class="post mb-3 bg-white shaded-component border fade-in" id="{{todo.todoId}}">
      <!-- post info -->
      <div class="row">
        <div class="post-user px-3">
            <div class="profile-image">
              <a routerLink="{{'/user/'+todo.userInfo.userName}}"><img src='{{backendUrlBase+"/"+todo.userInfo.profileImageURL}}' alt=""></a>
            </div>
            <div class="post-owner">
              <div class="post-owner-name ">
                <a routerLink="{{'/user/'+todo.userInfo.userName}}" class="text-decoration-none"><h5 class="d-inline-block">@{{todo.userInfo.userName}}</h5></a>
              </div>
              <div class="post-owner-location">
                <p class="lead"><i class="fal fa-map-marker-alt text-danger"></i> {{todo.address}}</p>
              </div>
          </div>
        </div>
      </div>
      <!-- post desc -->
      <div class="row mt-3">
        <div class="col-md-9  py-2">
          <div class="post-desc">
            <div class="post-text">
              {{todo.description}}
            </div>
            <div class="post-image mt-3">
              <img src='{{backendUrlBase+"/"+todo.imageUrl}}' alt="">
            </div>
            <div *ngIf="todo.workWiths.length !== 0" class="post-work-with mt-3">
              <p class="work-with-title">İle Birlikte:</p>
              <div class="coworkers">
                <a *ngFor="let worker of todo.workWiths" routerLink="{{angularUrlBase+'/user/'+worker}}" class="mr-1"><span class="badge badge-primary">@{{worker}}</span></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 border-post">
          <div class="right-info-table">
            <div class="right-table-date">
              <h5><i class="fal fa-calendar-check"></i> Gerçekleştirme Tarihi</h5>
              <p class="lead m-0">{{todo.untilWhen | date:'medium' :'+0300':'tr'}}</p>
              <p class="text-muted">{{printRemainingTime(todo.untilWhen)}}</p>
              <div class="right-table-reminder-btn">

                <button *ngIf="todo.todoCondition == 'working'" (click)="Remind(todo.todoId)" class="btn btn-success btn-block radius-0"><i class="fal fa-bell fa-lg"></i> Hatırlat</button>

                <button *ngIf="todo.todoCondition == 'expired'" disabled class="btn btn-danger btn-block radius-0"><i class="fal fa-alarm-clock fa-lg"></i> Süresi Doldu</button>

                <!-- eğer hatırlatıldıysa -->
                <!-- <button class="btn btn-secondary btn-block radius-0"><i class="fal fa-check fa-lg"></i> Hatırlatıldı</button> -->
              </div>
            </div>
            <div  *ngIf="todo.tags.length !== 0"  class="right-table-tags mt-3">
              <h5><i class="fal fa-hashtag"></i> Etiketler</h5>
              <div class="row pl-3">
                <a *ngFor="let tag of todo.tags" routerLink='/tag/{{tag}}' class="tag text-decoration-none">#{{tag}}</a>
              </div>
            </div>
            <div class="right-table-publish-date">
              <p class="badge font-weight-light">Paylaşıldı: {{todo.createdAt | date:'medium' :'+0300':'tr'}}</p>
            </div>
            <div *ngIf="isTodoOwner(todo)" class="right-table-share">
              <a routerLink='/todo/{{todo.todoId}}/edit' class="mt-2 d-block text-info radius-0"><i class="fal fa-calendar-edit"></i> Görevi Düzenle</a>

              <button (click)="deleteConfirmationForTodo(confirmModal, todo.todoId)" class="mt-2 btn btn-outline-danger d-inline-block btn-block radius-0"><i class="fal fa-times-square"></i> Görevi Kaldır</button>


            </div>
          </div>
        </div>
      </div>
      <!-- post info of like, comment, offer and reminders  -->
      <hr>
      <div class="row">
        <div class="post-info">
          <div class="post-like">
            <button (click)="Like(todo.todoId)" class="btn"><i class="fal fa-check fa-lg text-info"></i> {{todo.likeCount}} Beğenme</button>
            <!-- fal fa-check-double eğer like atılırsa -->

          </div>
          <div class="post-comment">
            <button (click)="updateCurrentTodo(todo.todoId); refreshComments()" data-toggle="modal" data-target="#commentModalForTodo" class="btn"><i class="fal fa-comments fa-lg text-info"></i> {{todo.commentCount}} Yorum</button>

          </div>
          <div class="post-reminders">
            <p class="pt-2"><i class="fal fa-bell fa-lg text-primary"></i> {{todo.remindCount}} Hatırlatma</p>

          </div>
          <div class="post-offers"></div>
        </div>
      </div>
      <!-- post actions -->
      <div class="row"></div>

      <!-- <div id="postID" class="modal fade-in bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
          <div class="modal-content fade-in radius-0">
            <div class="modal-header">
              <h5 class="display-4 font-size-md" id="exampleModalLongTitle">Yorumlar</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <post-comment></post-comment>
            </div>
            <div class="modal-footer">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text radius-0  border-info">
                    <label for="offerCommentPOSTID" class="m-0 p-0">Teklif</label>
                    <input class="ml-2" type="checkbox" id="offerCommentPOSTID" aria-label="Teklif Olarak İşaretle">
                  </div>
                </div>
                <input type="text" class="form-control radius-0 border-info" placeholder="Yorumunu yaz" aria-label="Recipient's username" aria-describedby="basic-addon2">
                <div class="input-group-append">

                </div>
              </div>
              <button type="button" class="btn btn-info radius-0 btn-block"><i class="fal fa-paper-plane"></i> Gönder</button>

            </div>
          </div>
        </div>
      </div> -->



    </div>
  </div>

  <div *ngIf="loader" class="loader mx-auto"></div>

  <div *ngIf="!anyTodo && !loader" class="mx-auto mt-4">
    <div class="row justify-content-center">
      <i class="far fa-search fa-6x"></i>
    </div>
    <div class="text-center">
      <h6 class="display-4"> Herhangi bir gönderi bulunamadı. </h6>
    </div>
  </div>

</div>


<ng-template #modal [ngIf]="currentTodoForModal !== undefined">
  <div id="commentModalForTodo" class="modal fade-in bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="dddd" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content modalFullScreenContent radius-0">
        <div class="modal-header bg-light">
          <h5 class="display-4 font-size-md" id="exampleModalLongTitle">Yorumlar</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body overflow-y-scroll">
          <post-comment (countEvent)="deleteCommentCount($event)" [todoOwner]="currentTodoCreatorUserName" [todoIdFromParent]="currentTodoId" [isRefreshed]="isRefreshed"></post-comment>
        </div>

        <div class="modal-footer">
          <div class="input-group">
            <div class="input-group-prepend">
              <div [ngClass]="{'d-none': isTodoOwner(currentTodoForModal)}" class="input-group-text radius-0  border-info">
                <label for="offerCommentPOSTID" class="m-0 p-0">Teklif</label>
                <input #offerInput class="ml-2" type="checkbox" aria-label="Teklif Olarak İşaretle">
              </div>

            </div>

            <input #commentInput type="text" class="form-control radius-0 border-info" placeholder="Yorumunu yaz" aria-label="Recipient's username" aria-describedby="basic-addon2">
            <div class="input-group-append">

            </div>
          </div>

          <button (click)="Comment(currentTodoForModal, commentInput, offerInput)" type="button" class="btn btn-info radius-0 btn-block"><i class="fal fa-paper-plane"></i> Gönder</button>
        </div>
      </div>
    </div>
  </div>
</ng-template>




<ng-template #confirmModal let-modal>
  <div class="modal-header border-bottom-0">
    <h4 class="modal-title w-100 text-danger text-center font-weight-light" id="modal-basic-title"><i class="fal fa-trash-alt fa-lg"></i> Görev silinecek</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body pb-0 pt-1">
    <p class="lead">Geçerli görevi onaylamanız halinde sileceksiniz.</p>
  </div>
  <div class="modal-footer border-top-0 flex-row p-1" style="flex-wrap: nowrap;">
      <div class="col-6 ">
        <button type="button" class="btn btn-block btn-outline-danger radius-0" (click)="modal.close('yes')">Sil</button>
      </div>
      <div class="col-6 mr-0 pr-1">
        <button type="button" class="btn btn-block btn-outline-info radius-0 " (click)="modal.close('no')">İptal</button>
      </div>
  </div>
</ng-template>





