<div class="row flex-column fade-in">
  <div *ngIf="messageHead | async as head; else loadingHead" class="chat-head">
    <a routerLink="{{'/user/'+head.userName}}" class="text-decoration-none" title="Profile git">
      <div class="chat-to px-3 py-2">
        <div class="chat-to-img">
          <img src='{{backendUrlBase+"/"+head.userProfileImageURL}}' alt="">
        </div>
        <div class="chat-to-name pt-2 pl-2 text-primary">
          {{head.firstName}} <span style="text-transform: uppercase;"> {{head.lastName}}</span>
        </div>
      </div>
    </a>
    <div id="forMobileBackButton" class="btn-group ml-auto pr-3 mt-1">
      <a routerLink='../' class="btn" title="Sohbetten ayrıl"><i class="fas fa-level-up-alt fa-lg text-info"></i></a>
    </div>
  </div>

  <ng-template #loadingHead>
    <div class="row justify-content-center">
      <div class="lds-dual-ring"></div>
      <p class="lead pt-3">Yükleniyor...</p>
    </div>
  </ng-template>


  <div #scroll class="texting mt-3 p-3 overflow-y-scroll">
    <!-- messages -->

    <div *ngFor="let message of messages">

      <div [ngClass]="{'message-from-me': message.authorUserName === sessionOwner, 'message-from-other': message.authorUserName !== sessionOwner}" class="message ">
        <p class="m-0"> {{message.content}}</p>
        <!-- <p class="message-date"><i class="far fa-clock"></i></p> -->
      </div>

    </div>




  </div>
  <div class="sending-area">
    <div class="input-group deneme">
      <input #contentInput (keyup.enter)="sendMessage(contentInput)" type="text" class="form-control p-3 radius-0 border-dark border-bottom-0 border-left-0 border-top-0" placeholder="Mesaj yaz..." aria-label="message" aria-describedby="basic-addon2">
      <div class="input-group-append">
        <button (submit)="sendMessage(contentInput)" class="btn-info radius-0 border-top-0 border-right-0 border-bottom-0 px-3 bg-light text-info"><i class="fal fa-paper-plane fa-lg"></i> Gönder</button>
      </div>
    </div>
  </div>
</div>
