<div class="row flex-column">
  <div class="chat-head">
    <a href="" class="text-decoration-none" title="Profile git">
      <div class="chat-to px-3 py-1">
        <div class="chat-to-img">
          <img src="../assets/img/profile_img.jpg" alt="">
        </div>
        <div class="chat-to-name pt-1 pl-2 text-primary">
          Ramazan Can GÖLGEN
        </div>
      </div>
    </a>
    <div class="btn-group ml-auto pr-3">
      <button type="button" class="btn radius-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-ellipsis-v fa-lg"></i>
      </button>
      <div class="dropdown-menu dropdown-menu-right radius-0">
        <button class="dropdown-item" type="button"><i class="fas fa-trash-alt"></i> Sohbeti Sil</button>
        <button class="dropdown-item" type="button"><i class="fas fa-ban"></i> Kişiyi Engelle</button>
      </div>
    </div>
  </div>

  <div class="texting mt-3 p-3 overflow-y-scroll">
    <!-- messages -->
    <div class="message message-from-me">
      <p class="m-0">Benim Gönderdiğim Mesaj </p>
      <p class="message-date">23:14</p>
    </div>
    <div class="message message-from-other">
      <p class="m-0">Karşıdakinden gelen mesaj.</p>
      <p class="message-date">23:14</p>
    </div>
    <div class="message message-from-other">
      <p class="m-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum laudantium optio, alias ad nesciunt quae dolore quisquam nulla. Unde perferendis veniam qui ullam eius ducimus impedit voluptatem non numquam sint!</p>
      <p class="message-date">23:14</p>
    </div>
    <div class="message message-from-me">
      <p class="m-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum laudantium optio, alias ad nesciunt quae dolore quisquam nulla. Unde perferendis veniam qui ullam eius ducimus impedit voluptatem non numquam sint!</p>
      <p class="message-date">23:14</p>
    </div>
    <div class="message message-from-me">
      <p class="m-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum laudantium optio, alias ad nesciunt quae dolore quisquam nulla. Unde perferendis veniam qui ullam eius ducimus impedit voluptatem non numquam sint!</p>
      <p class="message-date">23:14</p>
    </div>
  </div>
  <div class="sending-area">
    <div class="input-group deneme">
      <input type="text" class="form-control p-3 radius-0 border-dark border-bottom-0 border-left-0 border-top-0" placeholder="Mesaj yaz..." aria-label="message" aria-describedby="basic-addon2">
      <div class="input-group-append">
        <button class="btn btn-outline-info radius-0 border-top-0 border-bottom-0 px-3"><i class="far fa-paper-plane fa-lg"></i> Gönder</button>
      </div>
    </div>
  </div>
</div>
