<div class="option-panel fade-in">
  <div class="row justify-content-center py-2">
    <h6 class="display-4">Gizlilik</h6>
  </div>
  <hr class="my-1">
  <div class="row">
    <div class="col-md-12">
      <div class="set-security p-3">
        <div class="form-group">
          <input id="s1" type="checkbox" class="switch">
          <label for="s1">Gizli Profil</label>
          <br>
          <span class="text-small text-muted">Eğer profilinizi gizlerseniz, arkadaşlarınız dışında kimse paylaşımlarınızı göremez.</span>
        </div>

        <div class="form-group">
          <label for="secretProfileWelcomeTitle">Gizli profil mesajınız</label>
          <textarea class="form-control" id="secretProfileWelcomeTitle" placeholder="Profilinize giren ve görüntüleme izni olmayan kişilerin göreceği mesaj" rows="3"></textarea>
          <span class="text-small text-muted">Profilinize arkadaşınız olmayan kişiler girdiği zaman yukarıda yazmış olduğunuz mesaj ile karşılacaktırlar.</span>
        </div>
        <button class="btn btn-info radius-0">Tamamla</button>
        <p class="lead text-success text-center font-weight-bold mt-3"><i class="fas fa-user-secret fa-lg"></i> Ayarlarınız Güncellendi.</p>
      </div>
    </div>
  </div>
</div>
