.full-width{
  height: calc(100vh - 253px);
}

.login-area-head{
  padding: 10px 5px;

  -webkit-box-shadow: 0px 10px 13px -12px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
  box-shadow: 0px 10px 13px -12px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}

.icon-color{
  padding: 5px;
  background: -webkit-linear-gradient(135deg, rgba(0,255,243,1) 0%, rgba(255,0,85,1) 100%);
  -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
  font-size: 32px;
}

.login-area-head{
  display: flex;
}

.login-area-body{
  -webkit-box-shadow: 0px 10px 13px -12px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
  box-shadow: 0px 10px 13px -12px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}

.display-4{
  font-size: 37px;
}

.register-link{
  float: left;
}

