<div class="fade-in">
  <div class="container mt-6 page-full">
    <div class="row px-5">
      <div class="col-md-7">
        <div class="sign-404 text-center">
          <img src="../assets/img/page404.PNG" alt="">
        </div>
      </div>
      <div class="col-md-5">
        <div class="fault-head">Hata !</div>
        <div class="content">
          <p class="lead">Ulaşmaya çalıştığınız sayfa sunucular üzerinde bulunamadı. Lütfen geçerli bir URL girmeyi deneyin.</p>
          <div class="go-home">
            <a routerLink='' class="btn btn-outline-dark btn-block">Anasayfa</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
