<div class="settings-title p-2">
  <i class="fal fa-cogs fa-lg"></i>
  <p class="m-0 lead d-inline"> Ayarlar</p>
  <hr class="mt-3 mb-2">
</div>
<div class="container pb-4">
  <a routerLink="profile" class="text-decoration-none">
    <div class="row py-2 pl-3 border setting text-dark active-option">
      <div class="option-title">
        <i class="fal fa-user-cog"></i>
        Profilini Düzenle
      </div>
    </div>
  </a>
  <a routerLink="interest" class="text-decoration-none">
    <div class="row py-2 pl-3 border setting text-dark">
      <div class="option-title">
        <i class="fal fa-coffee"></i>
        İlgi Alanların
      </div>
    </div>
  </a>
  <a routerLink="password" class="text-decoration-none">
    <div class="row py-2 pl-3 border setting text-dark">
      <div class="option-title">
        <i class="fas fa-fingerprint"></i>
        Şifre Ayarları
      </div>
    </div>
  </a>
  <a routerLink="security" class="text-decoration-none">
    <div class="row py-2 pl-3 border setting text-dark">
      <div class="option-title">
        <i class="fal fa-user-secret"></i>
        Gizlilik
      </div>
    </div>
  </a>
  <a href="" class="text-decoration-none">
    <div class="row py-2 pl-3 border setting text-dark">
      <div class="option-title">
        <i class="fal fa-sign-out-alt"></i>
        Çıkış Yap
      </div>
    </div>
  </a>
</div>
