<div class="list-area px-4 fade-in">

  <!-- <div class="todo-card icon" [ngClass]="{'todo-success': todo.state===1, 'todo-working': todo.state===2, 'todo-fail': todo.state===3}" *ngFor="let todo of getTodos()">
    <div class="todo-card-head">
      {{todo.header}}
      <hr>
    </div>

    <div class="tags">
      <div class="lead">Etiketler:</div>
      <div class="row justify-content-center">
        <a href="/tags/{{tag.tagID}}" *ngFor="let tag of todo.tags" class="tag text-decoration-none">{{tag.tagName}}</a>
      </div>
      <hr>
    </div>

    <div class="todo-card-footer">
      <p class="m-0 text-muted">Oluşturuldu:</p>
      <p class="text-muted">{{todo.creationDate}}</p>
      <a href="/{{todo.creatorUserName}}/{{todo.id}}" class="btn btn-block btn-detail btn-outline-danger">Detaylar</a>
    </div>
  </div> -->

  <home-todos></home-todos>

</div>


