<div class="comment-list">
  <div class="container">
    <!-- comment -->
    <div class="row">
      <div class="container">
        <div class="comment">

          <div class="comment-owner">
            <div class="comment-owner-img">
              <a href=""><img src="../assets/img/profile_img.jpg" alt=""></a>
            </div>
            <div class="comment-info pl-2">
              <div class="comment-owner-name"><a href="" class="text-decoration-none"><p class="lead m-0">@rmzncn</p></a></div>
              <div class="comment-date text-muted font-weight-light"><i class="far fa-clock"></i> 2 saat</div>
            </div>
            <div class="offer-sign ml-auto">
              <!-- eğer anlaşılmısa yeşil olsun renk -->
              <i class="fas fa-handshake text-orange fa-2x"></i>
            </div>
          </div>

          <div class="comment-text">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam quasi cum consequuntur, quisquam ipsam nam dolore necessitatibus assumenda laborum suscipit saepe consequatur facilis at in molestias laudantium expedita. Deserunt, nostrum.</p>
            <div class="offer-badge">
              <span>
                <div class="offer-act d-inline">
                  <a href=""><i class="far fa-check-circle text-success fa-2x"></i></a>
                  <div class="px-1 d-inline"></div>
                  <a href=""><i class="far fa-times-circle text-danger fa-2x"></i></a>
                </div>
              </span>
              <span><button class="btn btn-outline-danger radius-0 btn-remove-comment float-right">Yorumu sil</button></span>
            </div>
          </div>

        </div>
      </div>
    </div>
    <hr>

  </div>
</div>
