<div class="container">
  <div class="secret-profile-area mx-auto">
    <i class="fal fa-user-secret fa-7x text-secondary"></i>
    <h4 class="display-4 text-secret">Bu profil gizlidir.</h4>
    <p class="secret-message-title pb-2 mb-1 border-bottom">Profil sahibinin mesajı:</p>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur sit veniam fugit ipsum maiores debitis saepe officia est.</p>
    <p class="text-small text-info"><i class="fal fa-info-circle fa-lg text-info"></i> Bu profili görebilmek için arkadaş olmanız gerekmektedir.</p>
  </div>
</div>
