<div class="container mt-6 fade-in">

  <div class="row pt-4 flex-column px-3">
    <div class="mx-auto">
      <i class="fal fa-clipboard-check text-success fa-6x"></i>
    </div>
    <div>
      <h6 class="display-4 text-center">Mail Güncelleme İşlemi Başarılı</h6>
      <p class="lead text-center pt-3">
        Bizlere iletmiş olduğun istek üzerine email adresine bir ileti gönderdik. Bu mesajı onayladığından dolayı mevcut olan email adresini belirttiğin güncel mail adresi ile güncelledik. İyi günler dileriz...
      </p>
      <h4 class="text-center text-orange">Yönlendiriliyorsunuz... <i class="fal fa-shipping-fast fa-2x"></i></h4>
      <div class="lds-dual-ring"></div>
    </div>

  </div>

</div>
