@import "checkbox.css";


.shaded-component{
  -webkit-box-shadow: 7px 7px 11px -1px rgba(0,0,0,0.39);
  box-shadow: 7px 7px 11px -1px rgba(0,0,0,0.39);

}
.shaded-component2{
  -webkit-box-shadow: 0px 10px 13px -12px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
  box-shadow: 0px 10px 13px -12px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}

.mt-6{
  margin-top: 65px;
}

.radius-0{
  border-radius: 0%!important;
}

.btn-same-size{
  width: 100px;
}

.btn-none{
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  font-size: 15px!important;
}

.badge-orange{
  background-color: tomato;
  color: white;
}

.text-orange{
  color:tomato;

}

.text-working{
  color: rgb(184, 120, 0);
}

.border-top-slim{
  border-top-style: solid ;
  border-width: 1px;
  border-color: rgb(199, 199, 199);
}


/* SCROLL BAR START */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* SCROLLBAR END */

.overflow-y-scroll{
  overflow-y: scroll;
}


.text-small{
  font-size: 13px;
}

/* ANIMATIONS */

.fade-in {
  animation: fadeIn ease 0.7s;
  -webkit-animation: fadeIn ease 0.7s;
  -moz-animation: fadeIn ease 0.7s;
  -o-animation: fadeIn ease 0.7s;
  -ms-animation: fadeIn ease 0.7s;
  }
  @keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }

  @-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }

  @-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }

  @-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }

  @-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }

.slide-up{
  transition: height 2s;
}

/* LOADER ANIMATION START */
/*
  ---usage---
  <div class="loader"></div>

 */
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #b134db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 1s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/* LOADER ANIMATION END */



.border-radius-2{
  border-radius: 5%;
}
/*
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */


.info-success{
  background-color: rgb(24, 189, 134);
  color: rgb(255, 255, 255);
}

.info-danger{
  background-color: rgb(153, 0, 0);
  color: white;
}

.info-warning{
  background-color: rgb(170, 113, 8);
  color: white;
}

.info-default{
  background-color: rgb(51, 77, 221);
  color: white;
}

.notification-message{
  background-color: rgb(12, 12, 12);
  color: tomato
}
