<div class="container mt-6 bg-white shaded-component2 fade-in">
  <div class="row p-2">
    <div class="col-md-12">
      <h5 class="display-4 font-size-md">Kişileri veya etiketleri ara</h5>
      <div class="input-group mb-3 pt-2">
        <input [(ngModel)]="filterString" type="text" class="form-control" placeholder="Kişi adı yada etiket adı giriniz" aria-label="Arama Yap" id="searchInput" aria-describedby="basic-addon2">

      </div>
      <hr>
    </div>
  </div>

  <!-- EĞER SONUÇ BULUNAMAZSA AŞAĞIDAKİ BÖLÜM ÇALIŞACAK -->

  <div *ngIf="userResults.length === 0 && tagResults.length === 0" class="search-nothin py-5">
    <h2 class="display-4 text-center"><i class="fal fa-search"> </i> Hiçbir sonuç yok.</h2>
  </div>

  <div *ngIf="userResults.length !== 0 || tagResults.length !== 0">

    <!-- eğer hiç sonuç yoksa gösterme -->
  <div class="search-user">
    <h5 class="display-4 pl-3 pr-2 font-size-sm d-inline-block"><i class="fal fa-users fa-lg"></i> Kişiler</h5>
    <span class="search-info d-inline-block text-muted">{{userResults.length}} sonuç bulundu.</span>
    <!-- users : max 5 user -->
    <div class="row border-top mt-2 p-3">
      <div *ngFor="let user of userResults" class="profile-results">
        <div class="profile-card p-2 mx-1 my-1 border border-radius-2">
          <a routerLink="{{'/user/'+user.userName}}" class="text-decoration-none py-2">
            <div class="profile-image">
              <img class=" mx-auto" src='{{backendUrlBase+"/"+user.profileImageURL}}' alt="">
            </div>
            <div class="profile-user-name text-center">
              <h5>@{{user.userName}}</h5>
            </div>
            <div class="profile-full-name text-center">
              {{user.firstName}} {{user.lastName}}
            </div>
          </a>
        </div>

      </div>
    </div>
  </div>

  <div class="search-tags">
    <h5 class="display-4 pl-3 pr-2 font-size-sm d-inline-block"><i class="fal fa-hashtag fa-lg"></i> Etiketler</h5>
    <span class="search-info d-inline-block text-muted">{{tagResults.length}} sonuç bulundu.</span>
    <!-- tags : max 15 tag -->
    <div class="row border-top mt-2 p-3">
      <div *ngFor="let tag of tagResults" class="tag-results">
        <div class="tags">
          <a routerLink='/tag/{{tag.name}}' class="text-decoration-none">
            <div class="tag">
              <div class="tag-name">{{tag.name}}</div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>

  </div>



</div>


