<div class="option-panel fade-in">
  <div class="row justify-content-center py-2">
    <h6 class="display-4">Şifre</h6>
  </div>
  <hr class="my-2">
  <div class="row">
    <div class="col-md-12 my-3">
      <p class="lead text-danger text-center font-weight-bold"><i class="fas fa-exclamation-triangle fa-lg"></i> Mevcut şifre hatalı !</p>
      <p class="lead text-danger text-center font-weight-bold"><i class="fas fa-exclamation-triangle fa-lg"></i> Şifreler uyuşmuyor !</p>
      <p class="lead text-success text-center font-weight-bold"><i class="fas fa-lock fa-lg"></i> Şifreniz Değiştirildi.</p>
      <div class="form-group">
        <label for="currentPassInput">Mevcut şifre</label>
        <input type="password" class="form-control" id="currentPassInput" placeholder="Mevcut şifrenizi giriniz">
      </div>
      <div class="form-group">
        <label for="newPassInput">Yeni Şifre</label>
        <input type="password" class="form-control" id="newPassInput" placeholder="Yeni şifrenizi girin">
      </div>
      <div class="form-group">
        <label for="newRePassInput">Yeni Şifre Tekrar</label>
        <input type="password" class="form-control" id="newRePassInput" placeholder="Yeni şifrenizi tekrardan girin">
      </div>
      <button type="button" class="btn btn-info radius-0">Şifreyi değiştir</button>
    </div>
  </div>
</div>
